

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--dark-color);
}

ul, ol {
	padding: 0;
}
ul li, ol li {
	list-style: none;
}

img {
	width: 100%;
	object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

html,
body {
	background-color: #fff;
	line-height: 1;
	font-size: 16px;
	font-weight: normal;
	font-family: 'SF Pro Display';
	color: #000000;
	height: 100%;
}

body._lock {
	overflow: hidden;
}

body.lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	position: relative;
}

/*-------------------------------------*/
[class*=__container] {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 10px;
}

/*--------------------------------------*/
.page {
	flex: 1 1 auto;
	padding-top: 80px;
}

/*------------- Hero section -----------------------*/





/*=========================================================================================*/
/*---------------------------- Media queries ----------------------------------------------*/
/*=========================================================================================*/

@media screen and (max-width: 959.98px) {
	
}
@media screen and (max-width: 767.98px) {

}
@media screen and (max-width: 639.98px) {

}
@media screen and (max-width: 539.98px) {

}
@media screen and (max-width: 414.98px) {

}